.navbar {
  grid-area: nav;
  grid-column: span 9;
}

.billboard {
  /* background: url(../../images/portfolio-branding.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; */
  display: grid;
  grid-area: billboard;
  grid-column: span 9;
  grid-template-areas: "billboard-contents";
}

.skills-items {
  grid-area: skills;
  grid-column: span 9;
}

.about-items {
  grid-area: about;
  grid-column: span 9;
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  grid-gap: 20px;
  align-items: stretch;
  }

  /* Smartphones (portrait and landscape) ----------- */
  @media only screen
  and (min-device-width : 320px)
  and (max-device-width : 480px) {
  /* Styles */
  .card-grid {
      display: block;
      width: 100%;
      }
  }
