.footer {
    /* position: fixed; */
    /* left: 0px;
    bottom: 0px; */
    /* display: flex; */
    /* justify-content: space-between; */
    height: 60px;
    width: 100%;
    background: rgb(0, 0, 0, .4);
 }

.footer-line {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border-top: 1px solid white;
    height: 100%;
    margin: 0;
    padding-right: 10px;
}

.footer-line div a {
    margin: 0 5px 0 5px;
    text-decoration: none;
    color:white;
}

.footer-line div a:hover {
    text-decoration: none;
    color: #696969;
}

#icon:hover {
    fill: #696969;
}
